<mat-drawer-container cdkFocusInitial>
    
    <div>
        <h3>Categories</h3>
        <app-close-button 
        [fixed]="true"
        (onClose)="dialogRef.close()"
        ></app-close-button>
        <div >

                <mat-tab-group  animationDuration="0ms"
                (selectedIndexChange)="changeTab($event)">
                    <mat-tab [label]="title[0]">
                        <app-add-category 
                        [title]="title[0]"
                        (onRefreshData)="fetchData()"
                        ></app-add-category> 
                    </mat-tab>
                    <mat-tab [label]="title[1]">
                        <app-categories-list 
                            [title]="title[1]"
                            [fetchPending]= "fetchPending"
                            [categories]="categories"
                            (onRefreshData)="fetchData()"
                        ></app-categories-list>  
                        
                    </mat-tab>
                </mat-tab-group>
        </div>
    </div>
</mat-drawer-container>
