<div>
    <app-spacer-container>
                <mat-card>
                    <app-spacer-container>
                        {{currentCategory.name}} 
                        <button 
                        mat-button 
                        *ngIf="!delPending"
                        color="warn"
                        (click)="delete()">
                            <mat-icon>delete</mat-icon>Delete
                        </button>
                        <app-spinner-button *ngIf="delPending"></app-spinner-button>
                    </app-spacer-container>
                </mat-card>
    </app-spacer-container>
</div>
