<div class="root-container">

    <div class="image-container">
        <img [src]="profile.image ? profile.image : '../../../assets/noprofile.png'" 
        (error)="profile.image=null">
    </div>
    
    <div class="details-container">
        <div>
            <div>
                <app-bold-text>Username: </app-bold-text>{{profile.email}}
            </div>
            <div>
                <app-bold-text>First name: </app-bold-text>{{profile.firstName}}
            </div>
            <div>
                <app-bold-text>Last name: </app-bold-text>{{profile.lastName}}
            </div>   
        </div>

        <div class="button-container">
            <app-spacer-container>
                <span></span>
                <button mat-stroked-button (click)="edit()">Edit</button>
            </app-spacer-container>        
        </div>
        
    </div>

</div>
