<div class="root-container"> 

    <form [formGroup]="typeForm">
        
        <div [class.disabled]="savePending">

            <app-image-input
            [image]="image.path" 
            [smallImage]="true"
            (onAddImage)="addImage($event)" 
            (onRemoveImage)="removeImage()">
            </app-image-input>

            <mat-form-field>
                <mat-label>Name</mat-label>
                <input 
                matInput 
                autocomplete="off"
                formControlName="name" 
                placeholder="Enter type name">
                <mat-error *ngIf="!typeForm.get('name').hasError('nameError')">
                    Name is required!
                </mat-error>
                <mat-error *ngIf="typeForm.get('name').hasError('nameError')">
                    Name already exists!
                </mat-error>    
                <mat-hint *ngIf="typeForm.pending">
                    Checking uniqueness of the name...
                </mat-hint>                  
            </mat-form-field>

            <mat-form-field >
                <mat-label>Category</mat-label>
                <mat-select  formControlName="category">
                    <mat-option *ngFor="let c of categories" [value]="c.name">
                    {{c.name}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    Category is required!
                </mat-error>
            </mat-form-field>

            <div class="center-container">
                <button 
                *ngIf="!savePending"
                mat-raised-button 
                color="accent"
                (click)="save()">Create</button>
                <app-spinner-button *ngIf="savePending"></app-spinner-button>  
            </div>
        </div>
        
    </form>

</div>
