@import "../../../styles/constants"

.root-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: normal
    padding: $padding-40
    padding-left: 50px
    padding-right: 50px

h3
    text-align: center

.center-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.disabled
    pointer-events: none
    opacity: $disabled-opacity
