<app-preloader *ngIf="fetchPending"></app-preloader>

<div class="header-container">
    <app-paginator
    [fetchPending]="fetchPending"
    [hasPrevious]="!startOfPages"
    [hasNext]="!endOfPages"
    (changedPage)="changePage($event)"
    ></app-paginator>
</div>

<app-empty-container *ngIf="!fetchPending && !categories?.length">
    NO CATEGORIES
</app-empty-container>

<app-category-details 
*ngFor="let category of categories"
[category]="category"
(deleted)="fetchData()">
</app-category-details>

