<app-preloader *ngIf="fetchPending"></app-preloader>

<div class="header-container" *ngIf="!fetchPending">
    <app-paginator
    [fetchPending]="fetchPending"
    [hasPrevious]="!startOfPages"
    [hasNext]="!endOfPages"
    (onChangePage)="changePage($event)"
    ></app-paginator>
</div>

<div *ngIf="!fetchPending && !categories?.length" class="empty-container">
    NO CATEGORIES
</div>

<app-category-details 
*ngFor="let category of categories"
[category]="category"
(onDeleted)="fetchData()">
</app-category-details>

