<div *ngIf="fetchPending" class="empty-container">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!fetchPending && !types?.length" class="empty-container">
    NO TYPES
</div>

<div class="header-container" *ngIf="!fetchPending && types?.length">
    <app-paginator
    [fetchPending]="fetchPending"
    [hasPrevious]="!startOfPages"
    [hasNext]="!endOfPages"
    (onChangePage)="changePage($event)"
    ></app-paginator>
</div>

<app-type-details
*ngFor="let type of types"
[type]="type"
(onDeleted) = "fetchData()">
</app-type-details>

