@import "../../../styles/constants"

.header-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: $padding-10

.header-container *
    width: 80%
