<div class="root-container mat-elevation-z24">
    <mat-card>
        <mat-card-content>

            <div>
                <app-bold-text>Details: </app-bold-text>
            </div>
            <div class="text-container">
                {{news.text}}
            </div>
            <div>
                <app-bold-text>Published On: </app-bold-text>{{news.createdAt | date: "dd MMM yyyy"}}
            </div>

            <br>

            <mdb-carousel class="carousel-fade" [animation]="'fade'">
                <mdb-carousel-item *ngFor="let img of news.images; let i = index">
                    <img [src]="img ? img : '../../../assets/noimage.png'" 
                    (error)="news.images[i]=null" >
                </mdb-carousel-item>
            </mdb-carousel>            

            <br>

            <app-spacer-container>
                <button 
                *ngIf="admin"
                mat-button 
                color="primary"
                (click)="edit()">
                    <mat-icon>edit</mat-icon>Edit
                </button>
                <button 
                *ngIf="admin"
                mat-button 
                color="warn"
                (click)="delete()">
                    <mat-icon>delete</mat-icon>Delete
                </button>
            </app-spacer-container>
            
        </mat-card-content>
    </mat-card>
</div>