<div class="root-container">

    <img 
    [class.small-image]="smallImage"
    [src]="image ? image : 
    (profile ? '../../../assets/noprofile.png' : '../../../assets/noimage.png')" 
    (error)="image=null">

    <br>

    <app-spacer-container>
        
        <button 
        mat-stroked-button 
        class="image-button"
        (click)="fileInput.click()">
            {{image ? 'Change image' : 'Add image'}}
        </button>

        <button 
        *ngIf="image" 
        mat-stroked-button 
        class="image-button"
        (click)="onRemoveImage.emit()">
            Remove image
        </button>
    
        <input 
        #fileInput 
        type="file" 
        accept="image/*" 
        (change)="onAddImage.emit(fileInput.files[0])">

    </app-spacer-container>

</div>          
