<div class="root-container" cdkFocusInitial>

    <h3>Publish Review</h3>
    
    <br><br>

    <div [class.disabled]="savePending">

        <app-star-rating [editable]="true" [rate]="rate" (rated)="rate=$event"></app-star-rating>
        
        <mat-form-field appearance="outline">
            <textarea 
            matInput 
            autocomplete="off"
            [formControl]="text"
            placeholder="Enter comment..." 
            rows="4"></textarea>
        </mat-form-field>    

        <br>
        
        <app-images-input [images]="comment.images"></app-images-input>
        
    </div>
        
    <br><br>

    <app-save-cancel-container
    [pending]="savePending"
    [inputControl]="text"
    (cancelled)="dialogRef.close()"
    (saved)="save()"
    ></app-save-cancel-container>
    
</div>
