@import "../../../styles/constants"
    
.big-icon 
    height: 2rem
    width: 2rem
    font-size: 2rem
    margin-top: 0.5rem

.title
    line-height: 1.2
    font-size: 1.25rem
    font-weight: 500

div
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: $padding-10

div *
    width: $full-size

div.fixed
    margin-top: $zero
    height: $toolbar-height
    width: $full-size
    background-color: white
    position: absolute
    z-index: $z-index-2

