<app-form-container>
    <h4>{{title}}</h4>
    <form [formGroup]="addForm">
        
        <div class="root-container" [class.disabled]="addPending">

        
            <div class="form-container">
                
                <mat-form-field>
                    <mat-label>Category name</mat-label>
                    <input 
                    matInput 
                    autocomplete="off"
                    formControlName="name" 
                    placeholder="Enter category name">
                    <mat-error>
                        Name is required!
                    </mat-error>    
                </mat-form-field>
            </div>
        </div>
    
        <div class="button-container">
            <app-spacer-container>
                <span>
                </span>
                <span>
                    <button 
                    *ngIf="!addPending"
                    mat-raised-button 
                    color="accent"
                    (click)="add()">Add category</button>
                    <app-spinner-button *ngIf="addPending" ></app-spinner-button>  
                </span>
            </app-spacer-container>
        
        </div>
    </form>

</app-form-container>

