@import "../../../styles/constants"

.header-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.header-container *
    width: 80%

.empty-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: $full-size
    width: $full-size
    background-color: white
    position: absolute
    z-index: $z-index-1