<mat-drawer-container>

    <div>
        <app-toolbar 
        (onToggle)="drawer.toggle()"
        (onRefreshData)="map.markOnMap($event); refreshData($event)">
        </app-toolbar>
        <app-map 
        #map
        [culturalOffers]="culturalOffers[selectedTab]"
        [fetchPending]="fetchPending[selectedTab]"
        (onRefreshData)="refreshData($event)"
        ></app-map>
    </div>

    <mat-drawer 
    [class.crop]="fetchPending[selectedTab] || !culturalOffers[selectedTab]?.length" 
    class="mat-elevation-z24" #drawer mode="side">
        
        <app-cultural-list
        [title]="selectedTab ? 'Followed Cultural Offers' : 'All Cultural Offers'"
        [culturalOffers]="culturalOffers[selectedTab]"
        [fetchPending]="fetchPending[selectedTab]"
        [hasPrevious]="!startOfPages[selectedTab]"
        [hasNext]="!endOfPages[selectedTab]"
        [filterForm]="filterForm[selectedTab]"
        (onChangePage)="changePage($event)"
        (onFilterData)="filterData()"
        (onMarkOnMap)="map.markOnMap($event)"
        ></app-cultural-list>    

        <div *ngIf="guest" class="tabs">
            <mat-tab-group headerPosition="below" animationDuration="0ms"
            (selectedIndexChange)="changeTab($event)">
                <mat-tab [label]="'All Cultural Offers'">
                </mat-tab>
                <mat-tab [label]="'Followed Cultural Offers'">
                </mat-tab>
            </mat-tab-group>
        </div>

    </mat-drawer>
</mat-drawer-container>