<div class="root-container mat-elevation-z24" (click)="markOnMap.emit()">
    <mat-card>
        <mat-card-content>

            <div class="item-container">
                <div class="image-container">
                    <img [src]="culturalOffer.image ? culturalOffer.image : '../../../assets/noimage.png'"
                    (error)="culturalOffer.image=null">
                </div>
    
                <div class="details-container">
                    <div>
                        <app-bold-text>{{culturalOffer.name}}</app-bold-text>
                    </div>
                    <br>
                    <div>
                        <app-bold-text>Type: </app-bold-text>{{culturalOffer.type + ', ' + culturalOffer.category}}
                    </div>
                    <div>
                        <app-bold-text>Location: </app-bold-text>{{culturalOffer.location}}
                    </div>
                    <div *ngIf="culturalOffer.description">
                        <app-bold-text>Description: </app-bold-text>{{culturalOffer.description}}
                    </div>
                    <div>
                        <app-bold-text>Total rate: </app-bold-text>{{ culturalOffer.totalRate | number:'1.2-2' }}/5
                    </div>
                </div>

                <div>
                    <button 
                    mat-icon-button 
                    color="accent"
                    (click)="showDetails()">
                        <mat-icon>edit</mat-icon>
                    </button>        
                </div>

            </div>
            
        </mat-card-content>
    </mat-card>
</div>