<div class="root-container">
    <div mat-dialog-content class="text-container">
        <h3>{{message}}</h3>
    </div>
    <div mat-dialog-actions class="actions-container">
        <button
            id="yesButton"
            mat-button
            color="primary"
            (click)="onDismiss()"
            cdkFocusInitial>
            No
        </button>
        <button
            id="noButton"
            mat-button
            (click)="onConfirm()"
            color="warn">
            Yes
        </button>
    </div>
</div>